body {
  margin: 0;
  padding: 0;
}
header {
  margin: auto -16px;
  padding: 16px 32px;
  height: 80px;
  color: white;
  background-color: #99bc85;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
h1 {
  gap: 5px;
}
#menuBookIcon {
  font-size: 40px;
}
.col-recipe-form {
  background-color: #e1f0da;
}
.new-recipe-form {
  height: calc(100vh - 80px);
}
.new-recipe-form-card {
  width: 40vw;
  min-width: 10vw;
  min-height: 75vh;
  max-height: 75vh;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --bs-border-radius: 20px;
  overflow-y: auto;
}
.col-recipe-list {
  background-color: #d4e7c5;
}
.saved-recipe {
  width: 40vw;
  min-height: 75vh;
  overflow-y: auto;
  max-height: 75vh;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --bs-border-radius: 20px;
}
#recipeName {
  border-radius: 20px;
}
#ingredients {
  height: 20vh;
  resize: none;
  border-radius: 20px;
}
#directions {
  height: 30vh;
  resize: none;
  border-radius: 20px;
}
#closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
}
.modalTitle {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
.modalContent {
  line-height: 1.6;
  font-size: 1rem;
}
#save-reset-btn-container {
  gap: 10px;
  height: 3vh;
}
#resetButton {
  width: fit-content;
  gap: 5px;
}
#submitButton {
  width: fit-content;
  gap: 5px;
}
#resetIcon {
  font-size: 1rem;
}
#saveIcon {
  font-size: 1rem;
}
#no-recipe-display {
  text-align: center;
}